<h2>Task List</h2>
<p><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>content</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @task.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.content %></td>
        <td><%= link_to 'Show', task_path(task.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
