// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* All　================================  */
body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
    font-size: 13px;
}

/* header　================================  */

header {
  width: 100%;
  background-color: #337ab7;
  color: #ffffff;
  height: 50px;
  margin: 0;
  position: fixed;
  padding: 0px;
  z-index: 1;
}

header:after {
  content: "";
  clear: both;
  display: block;
}

.h-link {
	padding: 0.1em 0.3em;
	position: relative;
	display: inline-block;
	transition: .3s;
	color: #ffffff;
}
.h-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 0;
	height: 1px;
	background-color: #ffffff;
	transition: .3s;
}
.h-link:hover::after {
	width: 100%;
}

.header_menu {
  display: inline-block;
  margin-top: 13px;
  padding-left: 150px;
  text-align: center;
}
/* Task Main　================================  */

#main_table {
  width: 100%;
}

#main_table a {
  color: #110E00;

  &:visited {
    color: #363226;
  }

  &:hover {
    color: #fff;
    background-color: #110E00;
  }
}

table, th, td {
  border-style: none !important;
  padding-left: 5px;
}

.task_row_priority, .task_row_deadline,
.task_row_status, .t_head, .admin_row,  {
  text-align: center;
}

.task_content {
  width: 30%;
}

/* Msg　================================  */

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

#notice {
  color: #ba4a90;
  display: inline-block;
  margin-top: 60px;
  // padding-left: 30%;
  text-align: center;
}
